@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/**
 * Inter font family
 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    > body {
      @apply bg-zinc-100 text-zinc-800;
    }
  }
}

/**
 * Dark mode style for background and text color
 */
html.dark > body {
  @apply bg-zinc-800 text-zinc-100;
}

html, body, #redwood-app {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Make scrollbar smaller on small screens */
@media (max-width: 640px) {
  html {
    scrollbar-width: thin;

    ::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background-color: rgba(155, 155, 155, 0.5);
      border-radius: 20px;
      border: transparent;
    }
  }
}
